{
  "app": {
    "guid": "057a7537-fb8f-474c-b4f4-214f9147e1c8"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators",
    "entitiesSecurity": null,
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "MDU3YTc1MzctZmI4Zi00NzRjLWI0ZjQtMjE0ZjkxNDdlMWM4",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {
      "security.oauth2.client.clientAuthenticationScheme": "form",
      "security.oauth2.saml.storePass": "storePass",
      "security.oauth2.client.accessTokenUri": "https://auth.cronapp.io/auth/realms/Techne/protocol/openid-connect/token",
      "cronapp.framework.mailer.scheduler.batchSize": "10",
      "cronapp.framework.mailer.username": "email@gmail.com",
      "server.error.whitelabel.enabled": "false",
      "cronapp.framework.mailer.host": "smtp.gmail.com",
      "security.oauth2.saml.entityId": "entityId",
      "cronapp.framework.mailer.auth": "true",
      "security.oauth2.client.userAuthorizationUri": "https://auth.cronapp.io/auth/realms/Techne/protocol/openid-connect/auth",
      "security.oauth2.saml.storeFile": "storeFile",
      "security.oauth2.saml.privateKeyPass": "privateKeyPass",
      "security.oauth2.resource.userInfoUri": "https://auth.cronapp.io/auth/realms/Techne/protocol/openid-connect/userinfo",
      "security.oauth2.sso.login-path": "/login",
      "security.oauth2.client.scope": "openid profile email",
      "security.oauth2.client.clientId": "ide-develop",
      "cronapp.framework.mailer.password": "password",
      "cronapp.framework.mailer.protocol": "smtp",
      "cronapp.framework.mailer.tls": "true",
      "cronapp.framework.mailer.port": "587",
      "security.oauth2.client.clientSecret": "1fe84c71-4a2b-4915-aa4f-e29ed9d908fd",
      "cronapp.framework.mailer.scheduler.expression": "0 * * ? * *",
      "security.oauth2.saml.metadataUrl": "metadataUrl",
      "security.oauth2.saml.privateKey": "privateKey",
      "security.oauth2.resource.preferTokenInfo": "false"
    },
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "appid": "io.cronapp.apps.jjmj",
      "backend": "true",
      "theme": "Material",
      "availableSignup": "true",
      "authentication": "Token",
      "frontend": "true"
    },
    "groupName": null,
    "availableSignup": true
  },
  "email": {
    "emailResetPassword": "",
    "nameResetPassword": ""
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0,
  "flushMode": "AUTO",
  "libraryConfiguration": {},
  "xframeOptions": "SameOrigin"
}